 .el-menu-item {
    font-size: 14px;
    &{
        padding-left: 50px !important;}
    &.is-active{
        
        background-color:rgba($color: #d35400, $alpha: 0.8)  !important;
    }
    
  }
  .el-submenu{
      &.is-opened .el-submenu__title{
        background-color: #d35400 !important;
      }
  }
  .close {
    .el-submenu {
      &.is-opened {
        > .el-submenu__title {
          background-color: #d35400 !important; 
        }
      }
    }
  }
    .el-menu--vertical{
      .el-menu {
        background-color: #2980b9 !important;
      }
      .el-menu-item{
        line-height: 56px;
      }
      .el-menu-item:hover{
        background-color: rgba($color: #d35400, $alpha: 0.8) !important;
      }
    }
  
  
